.puzzleBoard {
  padding: var(--gap-0_5);
  grid-gap: var(--gap-0_5);
  display: grid;
  border-radius: var(--border-radius);
  border: 3px solid var(--chinese-violet);
  min-width: 600px;
}

@media only screen and (max-width: 600px) {
  .puzzleBoard {
    width: 100%;
    min-width: 400px;
    border: none;
  }
}
