.tile {
  width: 100%;
  height: 100%;
  background-color: var(--chinese-violet);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--misty-rose);
  border-radius: var(--border-radius);
  user-select: none;
  aspect-ratio: 1/1;
}

@media (hover:hover) {
  .clickable:hover {
    cursor: pointer;
    background-color: var(--african-violet);
  }
}

@media only screen and (max-width: 600px) {
  .tile {
    font-size: 1rem;
  }
}
